* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
    user-select: none;
    background-color: #fff1e8;
}

.outer-containers {
    display: flex;
    flex-direction: row;
    margin: 2em;
}

.outer-containers > div {
    margin: 2em;
}

.left-intro {
    flex-grow: 1;
    max-width: 25%;
}

.info {
  padding: 2em;
  background-color: #ffdd00;
  border-radius: 3em;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.portfolio-tabs {
    flex-grow: 3;
    padding:2em;
    max-width: 75%;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 

.container_links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.container_link,
.container_link:link {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    border: 0.1rem solid black;
    border-radius: 2rem;
    text-decoration: none;
    color: #fff1e8;
    box-shadow: .3rem .4rem 0rem .1rem #000;
    padding: 0.75rem;
}

.container_link--lslinks {
  background-color: #06402B;
}

.container_link--resume {
    background-color: #21262d;
}

.portfolio-tab {
  display: grid;
  grid-template-columns: auto auto;
  max-width: inherit;
  align-items: center;
}

.portfolio-cell {
  margin: 1rem;
  align-self: flex-start;
}

.portfolio-cell-image img {
  width: 45rem;
}

.cell-tag {
  border: 1px solid black;
  padding-left: .5em;
  padding-right: .5em;
  border-radius: 3em;
  color:white;
}

.cell-tag--mongo {
  background-color: #00684A;
}

.cell-tag--node {
  background-color: #68A063;
}

.cell-tag--java {
  background-color:  #f89820;
}

.cell-tag--python {
  background-color: #4584b6;
}

.image-profile {
  max-width: 15rem;
  flex: 2;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #000;
}

#Paris {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#Paris {
  font-size: 1.75em;
}

#Paris > img {
  width: 75%;
  display: flex;
  align-self: center;
}